In [1]:
import requests
import pandas as pd

In [2]:
api_url = "http://api.open-notify.org/astros.json"

In [3]:
response = requests.get(api_url)

In [4]:
if response.ok:             
    data = response.json()

In [5]:
print(data)

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

In [6]:
print(data.get('number'))

12

In [7]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

In [8]:
import pandas as pd
import json

In [9]:
api_url="http://127.0.0.1:5000/data"
def get_number_of_jobs_T(technology):
    payload={"Key Skills": technology}
    response=requests.get(api_url, params=payload)
    if response.ok:
        data=response.json()
#        
        number_of_jobs = len(data)

    return technology,number_of_jobs

In [10]:
get_number_of_jobs_T("Python")

('Python', 1173)

In [11]:
def get_number_of_jobs_L(location):
    payload={"Location":location}
    response=requests.get(api_url, params=payload)
    if response.ok:
        data=response.json()
#        
        number_of_jobs = len(data)
    
    return location,number_of_jobs

In [12]:
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

In [13]:
countries = ['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']

In [17]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.5)
Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.3/251.3 kB 23.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3
Note: you may need to restart the kernel to use updated packages.

In [18]:
from openpyxl import Workbook

In [19]:
wb=Workbook()
ws=wb.active
ws.append(countries)

In [21]:
def get_number_of_jobs_TL(technology, countries):
    number_of_jobs_list = []
    for location in countries:
        payload={"Key Skills": technology, "Location": location}
        response=requests.get(api_url, params=payload)
        if response.ok:
            data=response.json()
            number_of_jobs = len(data)
            number_of_jobs_list.append(number_of_jobs)
    return number_of_jobs_list
get_number_of_jobs_TL("Python", countries)

[24, 143, 17, 258, 133, 15, 170]

In [22]:
wb.save('github-job-postings.xlsx')

In [29]:
technologies = ['C', 'C#', 'C++', 'Java', 'JavaScript', 'Python', 'Scala', 'Oracle', 'SQL Server', 'MySQL Server', 'PostgreSQL', 'MongoDB']
countries = ['USA', 'India', 'UK']  # Example countries list

def get_number_of_jobs_TL(technologies, countries):
    final_list = []
    for technology in technologies:
        number_of_jobs_list = [technology]
        for location in countries:
            payload = {"Key Skills": technology, "Location": location}
            response = requests.get(api_url, params=payload)
            if response.ok:
                data = response.json()
                number_of_jobs = len(data)
                number_of_jobs_list.append(number_of_jobs)
        final_list.append(number_of_jobs_list)  
    return final_list
get_number_of_jobs_TL(technologies, countries)

[['C'],
 ['C#'],
 ['C++'],
 ['Java'],
 ['JavaScript'],
 ['Python'],
 ['Scala'],
 ['Oracle'],
 ['SQL Server'],
 ['MySQL Server', 0, 0, 0],
 ['PostgreSQL'],
 ['MongoDB']]

In [31]:
data = get_number_of_jobs_TL(technologies, countries)
df_data = pd.DataFrame(data, columns=['Technology', 'Los Angeles', 'New York', 'San Francisco'])
df_data

      Technology  Los Angeles  New York  San Francisco
0              C          NaN       NaN            NaN
1             C#          NaN       NaN            NaN
2            C++          NaN       NaN            NaN
3           Java          NaN       NaN            NaN
4     JavaScript          NaN       NaN            NaN
5         Python          NaN       NaN            NaN
6          Scala          NaN       NaN            NaN
7         Oracle          NaN       NaN            NaN
8     SQL Server          NaN       NaN            NaN
9   MySQL Server          0.0       0.0            0.0
10    PostgreSQL          NaN       NaN            NaN
11       MongoDB          NaN       NaN            NaN

In [32]:
file_name = "github-job-postings.xlsx"
df_data.to_excel(file_name)
print("Done")

Done